sudo: false
dist: trusty

language: node_js
node_js:
  - "10"

branches:
  only:
    - master
    # npm version tags
    - /^v\d+\.\d+\.\d+/

cache:
  yarn: true

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn install

script:
  - yarn test

jobs:
  fail_fast: true

  include:
    - stage: tests
      name: "Node 10"

    - stage: additional tests
      name: floating dependencies
      install: yarn install --no-lockfile

    - name: "Node 6"
      node_js: "6"

    - name: "Node 8"
      node_js: "8"
